﻿    <!--Navbar Top-->
<div class="navbar-top hidden-xs">
    <div class="container">
        <ul>
            <li><a href="#">Siparişlerim</a></li>
            <li><a href="#">Fırsatlarım</a></li>
            <li><a href="#">Hediye Çeklerim</a></li>
            <li><a href="#">Kampanyalar</a></li>
            <li><a href="#">Yardım</a></li>
            <li><a href="#">Bize Sorun</a></li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-ozel">
    <div class="container" style="min-height:70px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="~/Content/img/yatay1logo.png" /></a>

        </div>

        <div class="hidden-lg hidden-sm hidden-md" style="clear:both;"></div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6" style="padding-top:15px;">
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" placeholder="Hangi ürünü aramıştınız?" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <ul class="nav navbar-nav navbar-right" style="padding-top:5px;">
                    <li id="hesabimBtn" class="dropdown">
                        <a href="#" class="dropdown-toggle" style="color:#444;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hesabım <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Üye Girişi</a></li>
                            <li><a href="#">Üye Ol</a></li>
                        </ul>
                    </li>
                    <li id="spetimBtn"><a style="color:white;" href="#">Sepetim</a></li>
                </ul>
            </div>
        </div><!-- /.navbar-collapse -->
      
    </div><!-- /.container-fluid -->
    <div id="kategoriler" class="hidden-xs hidden-sm" style="width:100%; background:#233b77;">
        <div class="container">
            <ul>
                <li><a href="#">ELEKTRONİK</a></li>
                <li><a href="#">EV, YAŞAM <br /> KIRTASİYE, OFİS</a></li>
                <li><a href="#">OTO, BAHÇE<br /> YAPI MARKET</a></li>
                <li><a href="#">ANNE, BEBEK<br /> OYUNCAK</a></li>
                <li><a href="#">SPOR OUTDOOR</a></li>
                <li><a href="#">KOZMETİK<br /> KİŞİSEL BAKIM</a></li>
                <li><a href="#">SÜPERMARKET <br />PETSHOP</a></li>
                <li><a href="#">KİTAP, MÜZİK<br /> FİLM, HOBİ</a></li>
            </ul>
        </div>
    </div>
</nav>