﻿@{
    ViewBag.Title = "Ana Sayfa | Sakarya Üniversitesi E-Ticaret Projesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Slider Başlangıç*@
<div id="carousel-example-generic" style="margin-top:-20px;" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/img/banner2-01.png" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="~/Content/img/b-29-6-2015-4081384540.jpg" alt="...">
            <div class="carousel-caption">

            </div>
        </div>

    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Önceki</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Sonraki</span>
    </a>
</div>

@*Slider Bitiş*@
<div style="clear:both;"></div>
@*Ürünler Başlangıç*@
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin-top:20px;">
            <div class="thumbnail" style="box-shadow:0 0 1px #777; cursor:pointer;">
                <img src="~/Content/img/Bilgisayar_6945281.jpg" alt="...">
                <div class="caption">
                    <p style="text-align:center;">Sandisk UFM 16GB USB 3.0 Usb Bellek SDCZ600-016G-G35</p>
                    <h3 style="text-align:center;">16,23 TL</h3>
                    <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="#" class="btn btn-default" role="button">Hızlı Al</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin-top:20px;">
            <div class="thumbnail" style="box-shadow:0 0 1px #777; cursor:pointer;">
                <img src="~/Content/img/Bilgisayar_6945281.jpg" alt="...">
                <div class="caption">
                    <p style="text-align:center;">Sandisk UFM 16GB USB 3.0 Usb Bellek SDCZ600-016G-G35</p>
                    <h3 style="text-align:center;">16,23 TL</h3>
                    <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="#" class="btn btn-default" role="button">Hızlı Al</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin-top:20px;">
            <div class="thumbnail" style="box-shadow:0 0 1px #777; cursor:pointer;">
                <img src="~/Content/img/Bilgisayar_6945281.jpg" alt="...">
                <div class="caption">
                    <p style="text-align:center;">Sandisk UFM 16GB USB 3.0 Usb Bellek SDCZ600-016G-G35</p>
                    <h3 style="text-align:center;">16,23 TL</h3>
                    <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="#" class="btn btn-default" role="button">Hızlı Al</a></p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin-top:20px;">
            <div class="thumbnail" style="box-shadow:0 0 1px #777; cursor:pointer;">
                <img src="~/Content/img/Bilgisayar_6945281.jpg" alt="...">
                <div class="caption">
                    <p style="text-align:center;">Sandisk UFM 16GB USB 3.0 Usb Bellek SDCZ600-016G-G35</p>
                    <h3 style="text-align:center;">16,23 TL</h3>
                    <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="#" class="btn btn-default" role="button">Hızlı Al</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin-top:20px;">
            <div class="thumbnail" style="box-shadow:0 0 1px #777; cursor:pointer;">
                <img src="~/Content/img/Bilgisayar_6945281.jpg" alt="...">
                <div class="caption">
                    <p style="text-align:center;">Sandisk UFM 16GB USB 3.0 Usb Bellek SDCZ600-016G-G35</p>
                    <h3 style="text-align:center;">16,23 TL</h3>
                    <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="#" class="btn btn-default" role="button">Hızlı Al</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin-top:20px;">
            <div class="thumbnail" style="box-shadow:0 0 1px #777; cursor:pointer;">
                <img src="~/Content/img/Bilgisayar_6945281.jpg" alt="...">
                <div class="caption">
                    <p style="text-align:center;">Sandisk UFM 16GB USB 3.0 Usb Bellek SDCZ600-016G-G35</p>
                    <h3 style="text-align:center;">16,23 TL</h3>
                    <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="#" class="btn btn-default" role="button">Hızlı Al</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin-top:20px;">
            <div class="thumbnail" style="box-shadow:0 0 1px #777; cursor:pointer;">
                <img src="~/Content/img/Bilgisayar_6945281.jpg" alt="...">
                <div class="caption">
                    <p style="text-align:center;">Sandisk UFM 16GB USB 3.0 Usb Bellek SDCZ600-016G-G35</p>
                    <h3 style="text-align:center;">16,23 TL</h3>
                    <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="#" class="btn btn-default" role="button">Hızlı Al</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin-top:20px;">
            <div class="thumbnail" style="box-shadow:0 0 1px #777; cursor:pointer;">
                <img src="~/Content/img/Bilgisayar_6945281.jpg" alt="...">
                <div class="caption">
                    <p style="text-align:center;">Sandisk UFM 16GB USB 3.0 Usb Bellek SDCZ600-016G-G35</p>
                    <h3 style="text-align:center;">16,23 TL</h3>
                    <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="#" class="btn btn-default" role="button">Hızlı Al</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin-top:20px;">
            <div class="thumbnail" style="box-shadow:0 0 1px #777; cursor:pointer;">
                <img src="~/Content/img/Bilgisayar_6945281.jpg" alt="...">
                <div class="caption">
                    <p style="text-align:center;">Sandisk UFM 16GB USB 3.0 Usb Bellek SDCZ600-016G-G35</p>
                    <h3 style="text-align:center;">16,23 TL</h3>
                    <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="#" class="btn btn-default" role="button">Hızlı Al</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin-top:20px;">
            <div class="thumbnail" style="box-shadow:0 0 1px #777; cursor:pointer;">
                <img src="~/Content/img/Bilgisayar_6945281.jpg" alt="...">
                <div class="caption">
                    <p style="text-align:center;">Sandisk UFM 16GB USB 3.0 Usb Bellek SDCZ600-016G-G35</p>
                    <h3 style="text-align:center;">16,23 TL</h3>
                    <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="#" class="btn btn-default" role="button">Hızlı Al</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin-top:20px;">
            <div class="thumbnail" style="box-shadow:0 0 1px #777; cursor:pointer;">
                <img src="~/Content/img/Bilgisayar_6945281.jpg" alt="...">
                <div class="caption">
                    <p style="text-align:center;">Sandisk UFM 16GB USB 3.0 Usb Bellek SDCZ600-016G-G35</p>
                    <h3 style="text-align:center;">16,23 TL</h3>
                    <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="#" class="btn btn-default" role="button">Hızlı Al</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin-top:20px;">
            <div class="thumbnail" style="box-shadow:0 0 1px #777; cursor:pointer;">
                <img src="~/Content/img/Bilgisayar_6945281.jpg" alt="...">
                <div class="caption">
                    <p style="text-align:center;">Sandisk UFM 16GB USB 3.0 Usb Bellek SDCZ600-016G-G35</p>
                    <h3 style="text-align:center;">16,23 TL</h3>
                    <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button">Sepete Ekle</a> <a href="#" class="btn btn-default" role="button">Hızlı Al</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
@*Ürünler Bitiş*@