﻿.navbar-top {
 background:white;   
}

    .navbar-top ul {
        list-style: none;
        text-align: center;
        padding: 5px 0 0 0;
    }

        .navbar-top ul li {
            display: inline-block;
            margin-left: 10px;
        }

            .navbar-top ul li a {
                color: #666;
                font-size: 13px;
            }

                .navbar-top ul li a:hover {
                    text-decoration: none;
                    color: #333;
                }


.navbar-ozel {
    background:white;
}

    .navbar-ozel .navbar-header .navbar-toggle {
        border: 1px solid #bbb;
        margin-top: 16px;
    }

        .navbar-ozel .navbar-header .navbar-toggle .icon-bar {
            border: 1px solid #bbb;
        }


.navbar-brand img {
    height: 40px;
}

#hesabimBtn {
    border: 2px solid #999;
    border-radius: 5px;
}

#spetimBtn {
    border: 2px solid #999;
    background: #999;
    border-radius: 5px;
    margin-left: 15px;
}

#spetimBtn a:hover {
   background: #999 !important;
}

@media screen and (max-width:767px) {
    #spetimBtn {
        margin-left: 0px;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #hesabimBtn {
        margin-left: 15px;
        margin-right: 15px;
    }
}

#kategoriler .container ul{
    list-style:none;
}

#kategoriler .container ul li{
    display:inline-block;
    width:12%;
    text-align:center;
    vertical-align:middle;
    padding-top:10px;
}

#kategoriler .container ul li a:hover{
    color:#adadad;
}

#kategoriler .container ul li a{
    text-decoration:none;
    color:white;
    font-size:13px;
    font-family:'Exo';
}

.product{
    margin:20px 0 20px 0;
    background:white;
    cursor:pointer;
}

footer{
    background:#222;
}


/* enable absolute positioning */
.inner-addon {
    position: relative;
}

    /* style glyph */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 13px;
        pointer-events: none;
    }

    .inner-addon .form-control {
        height: 40px;
    }


/* align glyph */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}
